* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #DCDCDC;
    flex-direction: column;
  }
  .controls{
    display: flex;
    justify-content: center;
    width: 300px;
    padding: 2px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1px;
    width: 300px;
    height: 300px;
  }
  
  .grid-item {
    border: 0;
    background-color: #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color: white;
    font-family: Arial, sans-serif;
    border-radius: 4px;
  }
  